.button {
    padding: 10px 30px; /* Adjusts the button's size (height and width) */
    background-color:transparent; /* Button background color */
    color: white; /* Button text color */
    border: 2px solid white;
    border-radius: 30px; /* Makes the button cylindrical */
    font-size: 1rem;
    font-family: 'Electrolize', sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Greyish shadow */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
    text-align: center;
    display: inline-block; /* Keeps the button inline */
    margin: 10px auto; /* Centers the button horizontally */
    margin-left: 82%;
    margin-top: 0px;
  }
  
  .button:hover {
    background-color:grey; /* Slightly darker green on hover */
    transform: scale(1.03); /* Slightly enlarges the button on hover */
  }
  