.menu-container {
  text-align: center;
  padding: 20px;
  background-color: black;
  /* background-image: url("../../../public/p1.jpg"); */
  width: 100%;
  margin-bottom: 10px; /* Reduced margin-bottom */
  display: block !important;
}

.hero2 {
  margin-top: 5%; 
  background-color: black;
  padding: 20px 0; /* Added padding for spacing */
  text-align: center;
  display: block !important;
}

.menu-container  h1 {
    color: white;
    font-size: 2.4rem !important;
    text-align: center !important ;
    width: 97% !important;
    align-items: center;
    /* margin-left: 4%; */
  }
  
  .img-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
  }
  
  
  
  .h1 {
    font-size: 3rem;
    color: white;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* margin-left: 1% !important; */
  }
  
  .p3, p4 {
    font-size: 1rem;
    color: white;
    margin: 6px auto;
    max-width: 600px;
    word-break: break-word;
    line-height: 1.2;
    text-align: center;
  }
  
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .img-container.central {
    transform: translateY(-50px);
  }
  
  .actual-img {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqMPSAn5eQ2MoHTaUExjWN_7rcdHCHcQ9dAeFfb7F4yyrOOYLt4iQD2xvcWZ0AUOC3G40&usqp=CAU');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .text-container {
    max-width: 500px;
    text-align: center;
  }
  
  .p1 {
    font-size: 1.9rem !important;
    margin: 10px 0;
    color: aliceblue;
  }
  
  .p2 {
    font-size: 0.8rem;
    margin-left: 30% !important;
    line-height: 1.5;
    word-break: break-word;
    max-width: 45%;
    color: white;
    align-items: start;
  }
  