body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* min-height: 100vh; Minimum height to ensure full viewport height */
  max-width: 100vw;
  overflow-x: hidden;
 
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  font-family: 'Electrolize', sans-serif;
}