form {
    background-color: rgba(0, 0, 0, 0.7); /* Adjust for transparency */
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

.expolabel {
    display: block;
    margin-bottom: 5px;
    margin-left: 16%;
}

/* select, input {
    width: 77%;
    height: 45%;
    padding: 4px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
} */
/* .expo select{
    width: 77%;
    height: 45%;
    padding: 4px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;  
} */
.exposelectInput{
    width: 65%;
    height: 55%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none; 
    margin-top: 3.5%;
    margin-left: 16%;
}
/* button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* button:hover {
    background-color: #218838;
} */
.expodrop{
    padding: 2%;
}