.headExpo{
    font-weight: bold;
    margin: 2vw;
}
.btn-delete-explosive{
    background-color: rgba(231, 70, 70, 0.983);
    width: 13%;
    height: 15%;
    margin-top: 4.5%;
    border-radius: 7px;
}
.btn-add-explosive{
    background-color: aquamarine;
   
    padding: 0.5%;
    margin-left: 8.4%;
    border-radius: 7px;
}