/* General Navbar Styles */
.navbar {
    background-color: white;
    padding: 10px 0;
    
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
  }
  
  /* Logo Styles */
  .logo {
    display: flex;
    align-items: center;
    
  }
  
  .logo-img {
    height: 50px; /* Adjust this to your preferred logo height */
  }
  
  /* Menu Styles */
  .menu-left, .menu-right {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: rgb(5, 0, 0) !important;
    text-decoration: none;
    margin: 0 50px;
   
    font-size: 18px;
    align-items: center; 
    ;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  /* Adjusting Flex Alignment */
  .menu-left {
    margin-right: auto;
  }
  
  .menu-right {
    margin-left: auto;
  }
  
  /* Responsive behavior */
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
    }
  
    .menu-left, .menu-right {
      margin: 10px 0;
    }
  }
  