/* Hero Section Styles */
.hero-section {
    display: flex;
    align-items: center;
    height: 100vh; /* Adjust the height according to your needs */
    background-color: #f4f4f4; /* Background color for the hero section */
    padding-left: 5%; /* Left margin for the whole content */
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  /* Large Text (p1) */
  .p1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Smaller Text (p2) */
  .p2 {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 20px; /* Adjust spacing between p1 and p2 */
  }
  