.hero3{
    margin-top:9%;
    
}
h{
    margin-left:28%;
    font-size: 2.8rem;
    color:white
}
p{
  
    font-size: 0.85rem;
    margin-left: 30%;
    max-width: 590px;
    margin: 0 auto;
    color: white;
    margin-top:6px;
    word-break: break-word;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
}