@media (min-width: 992px) and (max-width: 1199px){
  .main{
      width: 70%;

  }
  .inputmain{
      display: flex;
      gap: 2vw;
  }
  .inputmain2{
      display: flex;
      gap: 5vw;
  }
  
  
}
@media (min-width: 768px) and (max-width: 991px){
  .main{
      width: 80%;
  }
  .inputmain{
      display: flex;
      gap: 5vw;
  }
  .inputmain2{
      display: flex;
      gap: 5vw;
  }
}
@media (min-width: 577px) and (max-width: 767px){
  .main{
      width: 100%;
      scale: 0.6;
  }
  .inputmain{
      display: flex;
      gap: 13vw;
  }
  .inputmain2{
      display: flex;
      gap: 8vw;
  }
}